footer {
  border: none;
  border-top: $pillar-color solid 2px;
  font-size: 0.75rem;
  padding: $god-space;
  text-align: center;
  img {
    height: auto;
    max-width: 99%;
  }
  label {
    white-space: nowrap;
  }
  @include tight {
    width: 94% !important;
  }
}
