@charset "UTF-8";
/* god theme: Call me to include god in your SASS projects.*/
/* pillar_containment and pillar_padding can be called and managed by pillaraged */
/* Useful sizes.*/
/* Useful font percents.*/
body {
  padding: 0 !important; }

body, main {
  padding: 0 !important; }
  body >, main > {
    /* Set the font sizes */ }
    body > h1, main > h1 {
      font-size: 3rem; }
    body > h2, main > h2 {
      font-size: 2rem; }
    body > h3, main > h3 {
      font-size: 2rem; }
    body > h4, main > h4 {
      font-size: 2rem; }
    body > h5, main > h5 {
      font-size: 1rem; }
    body > h6, main > h6 {
      font-size: 1rem; }
    body > h1, body > h2, body > h3, body > h4, body > p, body > menu, body > ol, body > ul, body > dl, body > hr, body > footer, body > pre, main > h1, main > h2, main > h3, main > h4, main > p, main > menu, main > ol, main > ul, main > dl, main > hr, main > footer, main > pre {
      display: block;
      float: none;
      margin-block-end: 0;
      margin-block-start: 0;
      margin-left: 30% !important;
      margin-right: 10% !important;
      padding: 18px 2%; }
    @media screen and (max-width: 800px) {
      body > h1, body > h2, body > h3, body > h4, body > p, body > menu, body > ol, body > ul, body > dl, body > hr, body > footer, body > pre, main > h1, main > h2, main > h3, main > h4, main > p, main > menu, main > ol, main > ul, main > dl, main > hr, main > footer, main > pre {
        margin-block-end: 0;
        margin-block-start: 0;
        margin-left: 7.5% !important;
        margin-right: 2.5% !important;
        padding: 4.5px 0.5%;
        font-size: -6.8rem; }
      body > h1, main > h1 {
        font-size: 2rem; }
      body > h2, main > h2 {
        font-size: 1rem; }
      body > h3, main > h3 {
        font-size: 1rem; }
      body > h4, main > h4 {
        font-size: 1rem; }
      body > h5, main > h5 {
        font-size: 1rem; }
      body > h6, main > h6 {
        font-size: 1rem; } }
    @media screen and (min-width: 801px) and (max-width: 1000px) {
      body > h1, body > h2, body > h3, body > h4, body > p, body > menu, body > ol, body > ul, body > dl, body > hr, body > footer, body > pre, main > h1, main > h2, main > h3, main > h4, main > p, main > menu, main > ol, main > ul, main > dl, main > hr, main > footer, main > pre {
        margin-block-end: 0;
        margin-block-start: 0;
        margin-left: 10% !important;
        margin-right: 3.33333% !important;
        padding: 6px 0.66667%;
        font-size: -4.8rem; }
      body > h1, main > h1 {
        font-size: 2rem; }
      body > h2, main > h2 {
        font-size: 2rem; }
      body > h3, main > h3 {
        font-size: 1rem; }
      body > h4, main > h4 {
        font-size: 1rem; }
      body > h5, main > h5 {
        font-size: 1rem; }
      body > h6, main > h6 {
        font-size: 1rem; } }
    @media screen and (min-width: 1001px) and (max-width: 1300px) {
      body > h1, main > h1 {
        font-size: 2rem; }
      body > h2, main > h2 {
        font-size: 2rem; }
      body > h3, main > h3 {
        font-size: 2rem; }
      body > h4, main > h4 {
        font-size: 1rem; }
      body > h5, main > h5 {
        font-size: 1rem; }
      body > h6, main > h6 {
        font-size: 1rem; } }
    body > div, main > div {
      box-sizing: border-box;
      display: inline-block;
      margin-left: 0 !important;
      margin-right: 0 !important;
      padding: 18px 2%;
      width: 10% !important;
      break-before: always !important;
      /* give way on right */
      clear: right;
      float: right;
      margin-left: 2% !important; }
      @media screen and (min-width: 801px) and (max-width: 1000px) {
        body > div, main > div {
          width: 13% !important; } }
      @media screen and (min-width: 1001px) and (max-width: 1300px) {
        body > div, main > div {
          width: 8% !important; } }
      @media screen and (min-width: 1301px) {
        body > div, main > div {
          width: 6.8% !important; } }
    body > blockquote, body > header, body > nav, body > figure, main > blockquote, main > header, main > nav, main > figure {
      box-sizing: border-box;
      display: inline-block;
      margin-left: 0 !important;
      margin-right: 0 !important;
      padding: 18px 2%;
      width: 30% !important;
      clear: left;
      float: left;
      margin-right: 2% !important; }
      @media screen and (min-width: 801px) and (max-width: 1000px) {
        body > blockquote, body > header, body > nav, body > figure, main > blockquote, main > header, main > nav, main > figure {
          width: 39% !important; } }
      @media screen and (min-width: 1001px) and (max-width: 1300px) {
        body > blockquote, body > header, body > nav, body > figure, main > blockquote, main > header, main > nav, main > figure {
          width: 28% !important; } }
      @media screen and (min-width: 1301px) {
        body > blockquote, body > header, body > nav, body > figure, main > blockquote, main > header, main > nav, main > figure {
          width: 26.8% !important; } }
    @media screen and (max-width: 800px) {
      body > div, body > blockquote, body > header, body > nav, body > figure, main > div, main > blockquote, main > header, main > nav, main > figure {
        box-sizing: border-box;
        display: inline-block;
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding: 18px 2%;
        width: 100% !important;
        display: block !important;
        float: none !important;
        text-align: left !important;
        font-size: 0.96rem; } }
    @media screen and (min-width: 801px) and (max-width: 1000px) {
      body > div, body > blockquote, body > header, body > nav, body > figure, main > div, main > blockquote, main > header, main > nav, main > figure {
        margin-bottom: 23.4px !important;
        font-size: 1.08rem; } }
    @media screen and (min-width: 1001px) and (max-width: 1300px) {
      body > div, body > blockquote, body > header, body > nav, body > figure, main > div, main > blockquote, main > header, main > nav, main > figure {
        margin-bottom: 28.8px !important; } }
    @media screen and (min-width: 1301px) {
      body > div, body > blockquote, body > header, body > nav, body > figure, main > div, main > blockquote, main > header, main > nav, main > figure {
        margin-bottom: 34.2px !important; } }
  body ol > li,
  body ul > li, main ol > li,
  main ul > li {
    margin-left: 18px !important; }
  @media screen and (min-width: 801px) and (max-width: 1000px) {
    body ol > li,
    body ul > li, main ol > li,
    main ul > li {
      list-style-position: inside; }
      body ol > li > *,
      body ul > li > *, main ol > li > *,
      main ul > li > * {
        display: inline; } }

body .adonStatus-disabled, main > .adonStatus-disabled {
  background-color: darkgrey;
  color: lightgrey; }

body .adonStatus-error, main > .adonStatus-error {
  background-color: red;
  color: black; }

body .adonStatus-fixed, main > .adonStatus-fixed {
  position: fixed; }

body .adonStatus-sticky, main > .adonStatus-sticky {
  position: sticky; }

@media (max-width: 1300px) {
  body .adonStatus-sticky, main > .adonStatus-sticky {
    position: relative; }
  body .adonStatus-fixed, main > .adonStatus-fixed {
    position: relative; } }

body .adonToolBar, main > .adonToolBar {
  height: 48px !important;
  max-height: 48px !important;
  min-height: 48px !important;
  cursor: pointer;
  margin-top: 18px !important;
  margin-bottom: 0 !important;
  padding-top: 18px !important;
  padding-bottom: 18px !important;
  transition: all 0.5s ease-in-out; }
  @media screen and (max-width: 1000px) {
    body .adonToolBar, main > .adonToolBar {
      height: 32px !important;
      max-height: 32px !important;
      min-height: 32px !important;
      width: 32px !important;
      max-width: 32px !important;
      min-width: 32px !important;
      text-align: center !important; } }

body .adonToolBar.slavehidden, main > .adonToolBar.slavehidden {
  margin-top: 18px !important;
  background-color: black !important; }

body .adonToolSlave, main > .adonToolSlave {
  margin-top: 0 !important;
  opacity: 1;
  transition: visibility 0.5s linear 0s, all 0.5s;
  visibility: visible; }

body .adonToolSlave.slavehidden, main > .adonToolSlave.slavehidden {
  height: 0 !important;
  max-height: 0 !important;
  min-height: 0 !important;
  opacity: 0;
  overflow: hidden;
  padding: 0 !important;
  line-height: 0;
  transition: visibility 0s linear 0.5s, all 0s;
  transition-timing-function: ease;
  visibility: hidden; }

body div.adonToolBar, main > div.adonToolBar {
  text-align: right !important; }
  @media screen and (max-width: 1000px) {
    body div.adonToolBar, main > div.adonToolBar {
      float: right !important;
      text-align: center !important; } }

@media screen and (max-width: 800px) {
  body .adonHideOnScrollDown, main > .adonHideOnScrollDown {
    transition: all 0.5s;
    transition-timing-function: ease-in;
    -webkit-transition: all 0.5s;
    -webkit-transition-timing-function: ease-in; }
    body .adonHideOnScrollDown.adonHide, main > .adonHideOnScrollDown.adonHide {
      top: -500px; } }

body .adonNavScrollLink, main > .adonNavScrollLink {
  cursor: pointer !important; }

body .adonNavScrollLink.adonnavactive, main > .adonNavScrollLink.adonnavactive {
  background-color: black !important;
  color: white; }

.fas:hover {
  filter: brightness(50%); }

body {
  font-family: "Montserrat";
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0; }

body > h1, body > h2, body > h3, body > h4, body > p, body > menu, body > ol, body > ul, body > dl, body > hr, body > footer, body > pre, main > h1, main > h2, main > h3, main > h4, main > p, main > menu, main > ol, main > ul, main > dl, main > hr, main > footer, main > pre {
  border-left: black solid 2px;
  border-right: black solid 2px;
  margin-bottom: 0 !important;
  margin-top: 0 !important; }
  body > h1 cite, body > h2 cite, body > h3 cite, body > h4 cite, body > p cite, body > menu cite, body > ol cite, body > ul cite, body > dl cite, body > hr cite, body > footer cite, body > pre cite, main > h1 cite, main > h2 cite, main > h3 cite, main > h4 cite, main > p cite, main > menu cite, main > ol cite, main > ul cite, main > dl cite, main > hr cite, main > footer cite, main > pre cite {
    background-color: white; }
  body > h1 var, body > h2 var, body > h3 var, body > h4 var, body > p var, body > menu var, body > ol var, body > ul var, body > dl var, body > hr var, body > footer var, body > pre var, main > h1 var, main > h2 var, main > h3 var, main > h4 var, main > p var, main > menu var, main > ol var, main > ul var, main > dl var, main > hr var, main > footer var, main > pre var {
    background-color: #999999; }
  @media screen and (max-width: 800px) {
    body > h1, body > h2, body > h3, body > h4, body > p, body > menu, body > ol, body > ul, body > dl, body > hr, body > footer, body > pre, main > h1, main > h2, main > h3, main > h4, main > p, main > menu, main > ol, main > ul, main > dl, main > hr, main > footer, main > pre {
      margin-block-end: 0;
      margin-block-start: 0;
      margin-left: 1% !important;
      margin-right: 1% !important; } }

body > blockquote, main > blockquote {
  background-color: #ead1dc;
  color: black;
  quotes: "“" "”" "‘" "’";
  padding-top: 25px !important;
  padding-bottom: 100px !important;
  border: 0 !important;
  font-size: 1.56rem; }
  body > blockquote:before, main > blockquote:before {
    content: open-quote;
    color: black;
    display: inline;
    font-size: 200px;
    height: 0;
    left: 2%;
    line-height: 0;
    position: relative;
    top: 100px; }
  body > blockquote::after, main > blockquote::after {
    content: close-quote;
    color: black;
    display: inline;
    float: right;
    font-size: 200px;
    height: 0;
    line-height: 0;
    position: relative;
    right: 2%;
    top: 100px; }
  body > blockquote a, main > blockquote a {
    font-style: italic; }
  @media (max-width: 800px) {
    body > blockquote, main > blockquote {
      width: 100% !important; } }
  body > blockquote strong, main > blockquote strong {
    width: 100% !important;
    max-width: 100% !important;
    min-width: 100% !important;
    display: block;
    margin-top: 18px;
    padding-right: 2%; }

body > figure, main > figure {
  background-color: #ead1dc;
  color: white; }
  body > figure img, main > figure img {
    width: 100%;
    height: auto; }

body > footer, main > footer {
  border: none;
  border-top: black solid 2px;
  font-size: 0.75rem;
  padding: 2%;
  text-align: center; }
  body > footer label, main > footer label {
    white-space: nowrap; }

body > nav, main > nav {
  background-color: black;
  color: #737373;
  display: block;
  font-size: 1rem;
  font-weight: bold;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 5000; }
  body > nav a, main > nav a {
    color: white;
    border-bottom: #ead1dc solid 0.5px;
    display: inline-block;
    padding: 6px 3px;
    width: 100%; }
  body > nav label, main > nav label {
    display: block;
    font-size: 80%;
    padding: 6px 3px;
    width: 100%; }
  body > nav a:visited, main > nav a:visited {
    color: #737373; }
  body > nav a:hover, main > nav a:hover {
    background-color: white;
    color: black; }
  body > nav > a:first-child:hover, main > nav > a:first-child:hover {
    background-color: inherit;
    color: inherit; }
  body > nav > a:last-child, main > nav > a:last-child {
    border-bottom: none; }
  body > nav > a:first-child, main > nav > a:first-child {
    background-color: inherit;
    color: inherit;
    border-bottom: none;
    color: white;
    padding: 0 0 18px 0; }
    body > nav > a:first-child img, main > nav > a:first-child img {
      height: 48px !important;
      max-height: 48px !important;
      min-height: 48px !important;
      width: auto; }

body > pre, main > pre {
  background-color: lightgrey;
  color: black;
  padding-bottom: 60px !important;
  padding-top: 60px !important; }

body h1, main h1 {
  font-family: "Montserrat";
  font-weight: 800; }

body h2, main h2 {
  font-family: "Montserrat";
  font-weight: 800; }

body h3, main h3 {
  font-family: "Montserrat";
  font-weight: 800; }

body h4, main h4 {
  font-family: "Montserrat";
  font-weight: 800; }

body h5, main h5 {
  font-family: "Montserrat";
  font-weight: 800; }

body h6, main h6 {
  font-family: "Montserrat";
  font-weight: 800; }

a {
  text-decoration: none; }
