// LAYOUT ==================
$god-space: 3%; // the horizontal padding in all the prongs.
$heaven-width: 15%; // prong width right (as a percentage to help scaling).
$hell-width: 15%; // prong width left (as a percentage to help scaling).
$personal-space: 1vw; // the vertical padding between believers.
$transition: 1s;
// MEDIA BREAKS ==================
$god-loose: 1200px; // loose - prongs divided - no overlap.
$god-cosy: 750px; // cosy - overlap between sinners and the pillar.
$god-tight: 700px; // tight - believers full width - piller width small margin.
$heaven-cosy: 5%; // cosy - allow the heaven width to grow by this amount.
$hell-cosy: 5%; // cosy - allow the hell width to grow by this amount.
$pillar-cosy: 20%; // cosy - allow the pillar width to grow by this amount.
// COLORS ==================
$heaven-color: black; // dark color: mainly for bg with $pillar-color text.
$pillar-color: black; // dark color: mainly for heading text on white bg.
$hell-color: black; // dark color: mainly for bg with $pillar-color text.
$god-color: $heaven-color; // $god-color: the primary color
$god-blushed: lighten($god-color, 50); // $god-color: the primary tint color
// TEXT ==================
$god-h1: 5vw; // font size of h1.
$god-h6: 3.5vw; // font size of h6.
$god-p: 20px; // font size of paragraph text.
$god-spoke: $god-p * 1.2; // standout with big text.
$god-head: "Montserrat"; // for heading level text.
$god-body: "Montserrat"; // for body level text.
// BASICS ==================
$god-border: 2px black solid; // general purpose border
$inline-padding: 3px;
$toothpaste-color: $god-blushed;
// BELIEVERS ==================
$container: (body); // sin classes only affect direct children of these
$pillar: (
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl,
  nav,
  summary,
  section,
  figure
);
$heaven: (blockquote, details);
$hell: (menu, aside);
