/* god theme: Call me to include god in your SASS projects.*/

body > h1 {
  font-size: 5vw;
  text-align: center;
}

body > h2 {
  font-size: 4.4vw;
  text-align: center;
}

body > h3 {
  font-size: 4vw;
  text-align: center;
}

body > h4 {
  font-size: 3.8vw;
}

body > h5 {
  font-size: 3.6vw;
}

body > h6 {
  font-size: 3.5vw;
}

body > h1,
body > h2,
body > h3,
body > h4,
body > h5,
body > h6,
body > p,
body > ul,
body > ol,
body > dl,
body > nav,
body > summary,
body > section,
body > figure {
  box-sizing: border-box;
  display: block;
  float: none;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-left: 15% !important;
  margin-right: 15% !important;
  padding: 1vw 3%;
}

@media screen and (min-width: 701px) and (max-width: 750px) {
  body > h1,
  body > h2,
  body > h3,
  body > h4,
  body > h5,
  body > h6,
  body > p,
  body > ul,
  body > ol,
  body > dl,
  body > nav,
  body > summary,
  body > section,
  body > figure {
    margin-block-end: 0;
    margin-block-start: 0;
    margin-left: 12% !important;
    margin-right: 12% !important;
  }
}

@media screen and (max-width: 700px) {
  body > h1,
  body > h2,
  body > h3,
  body > h4,
  body > h5,
  body > h6,
  body > p,
  body > ul,
  body > ol,
  body > dl,
  body > nav,
  body > summary,
  body > section,
  body > figure {
    margin-block-end: 0;
    margin-block-start: 0;
    margin-left: 1vw !important;
    margin-right: 1vw !important;
    padding: 3px;
  }
}

body > blockquote,
body > details {
  box-sizing: border-box;
  display: inline-block;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding: 1vw 3%;
  width: 12% !important;
  break-before: always !important; /* give way on right */
  clear: right;
  float: right;
  margin-left: 3% !important;
}

@media screen and (min-width: 701px) and (max-width: 750px) {
  body > blockquote,
  body > details {
    width: 15.35% !important;
  }
}

@media screen and (min-width: 1201px) {
  body > blockquote,
  body > details {
    width: 10.995% !important;
  }
}

body > menu,
body > aside {
  box-sizing: border-box;
  display: inline-block;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding: 1vw 3%;
  width: 12% !important;
  clear: left;
  float: left;
  margin-right: 3% !important;
}

@media screen and (min-width: 701px) and (max-width: 750px) {
  body > menu,
  body > aside {
    full: 3.35%;
    width: 15.35% !important;
  }
}

@media screen and (min-width: 1201px) {
  body > menu,
  body > aside {
    full: 3.35%;
    width: 10.995% !important;
  }
}

@media screen and (max-width: 700px) {
  body > blockquote,
  body > details,
  body > menu,
  body > aside {
    box-sizing: border-box;
    display: inline-block;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 1vw 3%;
    width: 100% !important;
    display: block !important;
    float: none !important;
    text-align: left;
  }
}

@media screen and (min-width: 701px) and (max-width: 750px) {
  body > blockquote,
  body > details,
  body > menu,
  body > aside {
    margin-bottom: 1.3vw !important;
  }
}

@media screen and (min-width: 751px) and (max-width: 1200px) {
  body > blockquote,
  body > details,
  body > menu,
  body > aside {
    margin-bottom: 1.6vw !important;
  }
}

@media screen and (min-width: 1201px) {
  body > blockquote,
  body > details,
  body > menu,
  body > aside {
    margin-bottom: 1.9vw !important;
  }
}

body > ol > li {
  margin-left: 1vw !important;
}

body > ol > li > * {
  display: inline;
}

@media screen and (max-width: 750px) {
  body > ol > li {
    list-style: inside;
  }
}

body > ul > li {
  margin-left: 1vw !important;
}

body > ul > li > * {
  display: inline;
}

@media screen and (max-width: 750px) {
  body > ul > li {
    list-style: inside;
  }
}

body > img {
  max-width: 70% !important;
}

/* eve theme: Call me to include eve in your SASS projects.*/

/* adon theme: Call me to include adon in your SASS projects.*/

body > .adonStatus-disabled {
  background: #a9a9a9;
  border: 0;
  color: #d3d3d3;
}

body > .adonStatus-error {
  background: red;
  border: 0;
  color: #000;
}

body > .adonStatus-fixed {
  position: fixed;
}

body > .adonStatus-sticky {
  position: sticky;
}

@media screen and (min-width: 751px) and (max-width: 1200px) {
  body > .adonStatus-sticky {
    position: relative;
  }

  body > .adonStatus-fixed {
    position: relative;
  }
}

body > .adonToolBar {
  height: 48px !important;
  max-height: 48px !important;
  min-height: 48px !important;
  cursor: pointer;
  margin-top: 1vw !important;
  margin-bottom: 0 !important;
  padding-top: 1vw !important;
  padding-bottom: 1vw !important;
  transition: all 1s ease-in-out;
}

@media screen and (max-width: 750px) {
  body > .adonToolBar {
    height: 32px !important;
    max-height: 32px !important;
    min-height: 32px !important;
    width: 32px !important;
    max-width: 32px !important;
    min-width: 32px !important;
    text-align: center !important;
  }
}

body > .adonToolBar.slavehidden {
  margin-top: 1vw !important;
  background-color: #000 !important;
}

body > .adonToolSlave {
  margin-top: 0 !important;
  opacity: 1;
  transition: visibility 1s linear 0s, all 1s;
  visibility: visible;
}

body > .adonToolSlave.slavehidden {
  height: 0 !important;
  max-height: 0 !important;
  min-height: 0 !important;
  opacity: 0;
  overflow: hidden;
  padding: 0 0  !important;
  line-height: 0;
  transition: visibility 0s linear 1s, all 0s;
  transition-timing-function: ease;
  visibility: hidden;
}

body > blockquote.adonToolBar,
body > details.adonToolBar {
  text-align: right !important;
}

@media screen and (max-width: 750px) {
  body > blockquote.adonToolBar,
  body > details.adonToolBar {
    float: right !important;
    text-align: center !important;
  }
}

@media screen and (max-width: 750px) {
  body > .adonHideOnScrollDown {
    transition: all 1s;
    transition-timing-function: ease-in;
    -webkit-transition: all 1s;
    -webkit-transition-timing-function: ease-in;
  }

  body > .adonHideOnScrollDown.adonHide {
    top: -500px;
  }
}

body > .adonNavScrollLink {
  cursor: pointer !important;
}

body > .adonNavScrollLink.adonnavactive {
  background-color: #000 !important;
  color: #fff;
}

/* innocent theme: Call me to include innocent in your SASS projects.*/

body {
  font-family: "Montserrat";
}

menu {
  box-sizing: border-box;
  position: relative;
}

menu:after {
  clear: both;
  content: "";
  display: block;
  height: 0;
  width: 0;
}

menu * {
  box-sizing: border-box;
}

menu a {
  text-decoration: none;
}

menu label {
  font-weight: bold;
}

menu a,
menu label {
  cursor: pointer;
  display: block;
  padding: 3px 1vw;
  white-space: nowrap;
}

menu a img,
menu label img {
  height: 50px;
  width: auto !important;
}

menu menu,
menu nav {
  margin: 0;
  padding: 0 1vw;
}

menu > menu > menu,
menu > nav > nav {
  display: none;
  visibility: hidden;
}

menu > menu:hover > menu,
menu > nav:hover > nav {
  max-height: 700px;
  opacity: 1;
  display: block;
  visibility: visible;
}

menu > a,
menu > menu,
menu > nav {
  float: left;
}

menu menu:hover > label + menu,
menu menu:hover > label + nav,
menu nav:hover > label + menu,
menu nav:hover > label + nav {
  position: absolute;
}

nav {
  box-sizing: border-box;
}

nav:after {
  clear: both;
  content: "";
  display: block;
  height: 0;
  width: 0;
}

nav * {
  box-sizing: border-box;
}

nav a {
  text-decoration: none;
  display: block;
}

nav label {
  font-weight: bold;
}

nav a,
nav label {
  cursor: pointer;
  display: block;
  padding-right: 25px !important;
  white-space: nowrap;
}

nav menu,
nav nav {
  margin: 0;
  padding: 0;
  position: relative;
}

nav > menu > menu,
nav > nav > nav {
  display: none;
  visibility: hidden;
}

nav > menu:hover > menu,
nav > nav:hover > nav {
  max-height: 700px;
  opacity: 1;
  display: block;
  visibility: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
}

details {
  background: gray;
  border: #000 1px solid;
  color: #000;
  padding: 0;
}

details summary {
  background: #000;
  border: 0;
  color: #fff;
  font-family: "Montserrat";
  cursor: pointer;
}

details > * {
  padding: 3px 1vw;
}

dl {
  padding: 1vw 0;
}

dl > dt {
  background: gray;
  color: #000;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  padding: 3px;
}

dl > dd {
  margin: 1vw;
}

figure {
  border: 2px #000 solid;
  box-sizing: border-box;
  padding: 1vw 1vw  !important;
}

figure figcaption {
  color: #000;
  font-family: "Montserrat";
  margin-top: 1vw;
}

@media screen and (max-width: 700px) {
  figure {
    margin-left: 3% !important;
    margin-right: 3% !important;
  }
}

form label {
  margin-top: 1vw;
}

form legend {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 3%;
  margin-top: 3%;
}

form label,
form legend {
  color: #000;
  font-family: "Montserrat";
}

form textarea {
  width: 100%;
}

form input[type=checkbox],
form input[type=radio] {
  margin-right: 3px;
}

form input[type=checkbox] + label,
form input[type=radio] + label {
  color: #000;
  font-family: "Montserrat";
  display: inline-block;
  margin-right: 1vw;
  page-break-before: avoid;
}

form fieldset {
  border: 2px #000 solid;
  margin-top: 1vw;
  padding: 0 1vw;
}

form fieldset label {
  display: block;
}

form fieldset button,
form fieldset input,
form fieldset select,
form fieldset textarea {
  box-sizing: border-box;
  margin-bottom: 1vw;
}

form fieldset input[type=email],
form fieldset input[type=number],
form fieldset input[type=password],
form fieldset input[type=search],
form fieldset input[type=tel],
form fieldset input[type=text],
form fieldset input[type=url],
form fieldset select,
form fieldset textarea {
  box-sizing: border-box;
  padding: 3px;
  width: 100%;
}

form fieldset input:not([type]) {
  box-sizing: border-box;
  padding: 3px;
  width: 100%;
}

form fieldset input[type=color],
form fieldset input[type=range] {
  display: inline-block;
  margin-bottom: 1vw;
  vertical-align: middle;
}

form fieldset input[type=date],
form fieldset input[type=time],
form fieldset input[type=datetime],
form fieldset input[type=datetime-local],
form fieldset input[type=month],
form fieldset input[type=week] {
  margin-bottom: 1vw;
}

form fieldset button,
form fieldset input[type=submit],
form fieldset input[type=reset] {
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  form {
    margin-left: 3% !important;
    margin-right: 3% !important;
  }
}

header {
  font-size: 24px;
  padding: 3%;
  text-align: center;
}

header h1,
header h2,
header h3,
header h4,
header h5,
header h6 {
  margin-bottom: 1vw;
  margin-top: 1vw;
}

hr {
  border: 2px #000 solid;
  margin-bottom: 1vw;
  margin-top: 1vw;
}

img {
  height: auto;
}

@media screen and (max-width: 750px) {
  img {
    padding: 3px 3px  !important;
  }
}

figure img {
  box-sizing: border-box;
  margin: 0 0  !important;
  padding: 0 0  !important;
  width: 100%;
}

pre {
  background: gray;
  border: 0;
  color: #000;
  overflow-x: scroll;
  margin-top: 3%;
  padding-top: 3%;
  padding-bottom: 3%;
  white-space: pre;
  word-break: keep-all;
}

@media screen and (max-width: 700px) {
  pre {
    margin-left: 3% !important;
    margin-right: 3% !important;
    width: 94% !important;
  }
}

table {
  display: table !important;
  text-align: left;
}

table td,
table th {
  padding: 3px 1vw;
}

table > thead th,
table > tfoot th,
table > tbody th {
  color: #000;
  font-family: "Montserrat";
  font-weight: 800;
}

table > thead th {
  border-bottom: 2px solid #000;
}

table > tfoot th {
  border-top: 2px solid #000;
  text-align: right;
}

table > tbody td,
table > tbody th {
  border-bottom: 2px solid #000;
}

table tr:nth-child(even) {
  background: gray;
}

@media screen and (max-width: 700px) {
  table {
    margin-left: 3% !important;
    margin-right: 3% !important;
  }
}

a {
  text-decoration: none;
}

big {
  font-size: 24px;
}

input[type=file],
button {
  background: #fff;
  color: #000;
  border-radius: 5px;
  border: 2px #000 solid;
  cursor: pointer;
  display: inline-block;
  font-size: 24px;
  padding: 3px 1vw;
  text-decoration: none;
}

input[type=file] > img,
button > img {
  max-height: 88px;
  height: auto;
}

input[type=file]:hover,
input[type=file].selected,
input[type=file].active,
button:hover,
button.selected,
button.active {
  background: #000;
  border: 2px #000 solid;
  color: #fff;
}

input[type=file]:disabled,
button:disabled {
  background: #000;
  border: 0;
  color: #fff;
  cursor: not-allowed;
}

input[type=file] big,
button big {
  font-weight: bold;
  vertical-align: middle;
}

code {
  background: rgba(128, 128, 128, 0.3);
  border: 0;
  color: #000;
  padding: 0 3px;
  word-break: keep-all;
}

pre > code {
  background: inherit;
  border: 0;
  color: inherit;
  overflow-x: scroll;
  white-space: pre;
}

kbd {
  background: #000;
  border: 0;
  color: #fff;
  border-radius: 6px;
  padding: 3px 1vw;
}

small {
  font-size: 24px;
}

body > section,
body > .in9 {
  column-count: 3 !important;
  /* 4UTODO: add column-count moz kits here. */
  /* column-gap !useful but not important  */
  column-gap: 1vw;
  /* 4UTODO: add column-gap moz kits here. */
  /* 4UTODO: handle column-counts for small @media widths */
}

body > section.in4,
body > .in9.in4 {
  column-count: 2 !important;
}

body > section.in12,
body > .in9.in12 {
  column-count: 4 !important;
}

body > section > figure,
body > .in9 > figure {
  display: block-inline !important;
  break-inside: avoid !important;
  margin: 0  0  1vw  0  !important;
  padding: 1vw 1vw  !important;
  text-align: center !important;
}

body > section > figure > a,
body > .in9 > figure > a {
  display: block !important;
  box-sizing: border-box !important;
  padding: 0 0  !important;
  font-size: 24px;
}
/*# sourceMappingURL=pride.css.map */
