/* god theme: Call me to include god in your SASS projects.*/

main > h1 {
  font-size: 200%;
}

main > h2 {
  font-size: 150%;
}

main > h3 {
  font-size: 120%;
}

main > h4 {
  font-size: 100%;
}

main > h5 {
  font-size: 90%;
}

main > h6 {
  font-size: 80%;
}

main > h1,
main > h2,
main > h3,
main > h4,
main > h5,
main > h6,
main > p,
main > ul,
main > ol,
main > dl,
main > div,
main > table,
main > form,
main > section,
main > pre,
main > a {
  box-sizing: border-box;
  display: block;
  float: none;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-left: 20% !important;
  margin-right: 10% !important;
  padding: 6px 0.1%;
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  main > h1,
  main > h2,
  main > h3,
  main > h4,
  main > h5,
  main > h6,
  main > p,
  main > ul,
  main > ol,
  main > dl,
  main > div,
  main > table,
  main > form,
  main > section,
  main > pre,
  main > a {
    margin-block-end: 0;
    margin-block-start: 0;
    margin-left: 17% !important;
    margin-right: 7% !important;
  }
}

@media screen and (max-width: 600px) {
  main > h1,
  main > h2,
  main > h3,
  main > h4,
  main > h5,
  main > h6,
  main > p,
  main > ul,
  main > ol,
  main > dl,
  main > div,
  main > table,
  main > form,
  main > section,
  main > pre,
  main > a {
    margin-block-end: 0;
    margin-block-start: 0;
    margin-left: 6px !important;
    margin-right: 6px !important;
    padding: 3px;
  }
}

main > blockquote,
main > summary {
  box-sizing: border-box;
  display: inline-block;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding: 6px 0.1%;
  width: 9.9% !important;
  break-before: always !important;
  /* give way on right */
  clear: right;
  float: right;
  margin-left: 0.1% !important;
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  main > blockquote,
  main > summary {
    width: 13.395% !important;
  }
}

@media screen and (min-width: 1201px) {
  main > blockquote,
  main > summary {
    width: 8.8515% !important;
  }
}

main > nav,
main > aside {
  box-sizing: border-box;
  display: inline-block;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding: 6px 0.1%;
  width: 19.9% !important;
  clear: left;
  float: left;
  margin-right: 0.1% !important;
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  main > nav,
  main > aside {
    full: 3.495%;
    width: 23.395% !important;
  }
}

@media screen and (min-width: 1201px) {
  main > nav,
  main > aside {
    full: 3.495%;
    width: 18.8515% !important;
  }
}

@media screen and (max-width: 600px) {
  main > blockquote,
  main > summary,
  main > nav,
  main > aside {
    box-sizing: border-box;
    display: inline-block;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 6px 0.1%;
    width: 100% !important;
    display: block !important;
    float: none !important;
    text-align: left;
  }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  main > blockquote,
  main > summary,
  main > nav,
  main > aside {
    margin-bottom: 7.8px !important;
  }
}

@media screen and (min-width: 901px) and (max-width: 1200px) {
  main > blockquote,
  main > summary,
  main > nav,
  main > aside {
    margin-bottom: 9.6px !important;
  }
}

@media screen and (min-width: 1201px) {
  main > blockquote,
  main > summary,
  main > nav,
  main > aside {
    margin-bottom: 11.4px !important;
  }
}

main > ol > li {
  margin-left: 6px !important;
}

main > ol > li > * {
  display: inline;
}

@media screen and (max-width: 900px) {
  main > ol > li {
    list-style: inside;
  }
}

main > ul > li {
  margin-left: 6px !important;
}

main > ul > li > * {
  display: inline;
}

@media screen and (max-width: 900px) {
  main > ul > li {
    list-style: inside;
  }
}

/* eve theme: Call me to include eve in your SASS projects.*/

/* adon theme: Call me to include adon in your SASS projects.*/

main > .adonStatus-disabled {
  background: #a9a9a9;
  border: 0;
  color: #d3d3d3;
}

main > .adonStatus-error {
  background: red;
  border: 0;
  color: #000;
}

main > .adonStatus-fixed {
  position: fixed;
}

main > .adonStatus-sticky {
  position: sticky;
}

@media screen and (min-width: 901px) and (max-width: 1200px) {
  main > .adonStatus-sticky {
    position: relative;
  }

  main > .adonStatus-fixed {
    position: relative;
  }
}

main > .adonToolBar {
  height: 48px !important;
  max-height: 48px !important;
  min-height: 48px !important;
  cursor: pointer;
  margin-top: 6px !important;
  margin-bottom: 0 !important;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 900px) {
  main > .adonToolBar {
    height: 32px !important;
    max-height: 32px !important;
    min-height: 32px !important;
    width: 32px !important;
    max-width: 32px !important;
    min-width: 32px !important;
    text-align: center !important;
  }
}

main > .adonToolBar.slavehidden {
  margin-top: 6px !important;
  background-color: #000 !important;
}

main > .adonToolSlave {
  margin-top: 0 !important;
  opacity: 1;
  transition: visibility 0.5s linear 0s, all 0.5s;
  visibility: visible;
}

main > .adonToolSlave.slavehidden {
  height: 0 !important;
  max-height: 0 !important;
  min-height: 0 !important;
  opacity: 0;
  overflow: hidden;
  padding: 0 0  !important;
  line-height: 0;
  transition: visibility 0s linear 0.5s, all 0s;
  transition-timing-function: ease;
  visibility: hidden;
}

main > blockquote.adonToolBar,
main > summary.adonToolBar {
  text-align: right !important;
}

@media screen and (max-width: 900px) {
  main > blockquote.adonToolBar,
  main > summary.adonToolBar {
    float: right !important;
    text-align: center !important;
  }
}

@media screen and (max-width: 900px) {
  main > .adonHideOnScrollDown {
    transition: all 0.5s;
    transition-timing-function: ease-in;
    -webkit-transition: all 0.5s;
    -webkit-transition-timing-function: ease-in;
  }

  main > .adonHideOnScrollDown.adonHide {
    position: absolute;
    position: -webkit-absolute;
    top: -500px;
  }
}

main > .adonNavScrollLink {
  cursor: pointer !important;
}

main > .adonNavScrollLink.adonnavactive {
  background-color: #000 !important;
  color: #fff;
}

/* innocent theme: Call me to include innocent in your SASS projects.*/

body {
  font-family: "Montserrat";
}

main > menu {
  box-sizing: border-box;
  position: relative;
  border: none;
  margin: 0;
  padding: 0;
  background: #000;
  position: sticky;
  z-index: 5000;
}

main > menu:after {
  clear: both;
  content: '';
  display: block;
  height: 0;
  width: 0;
}

main > menu * {
  box-sizing: border-box;
}

main > menu a {
  text-decoration: none;
}

main > menu label {
  font-weight: bold;
}

main > menu a,
main > menu label {
  cursor: pointer;
  display: block;
  padding: 3px 6px;
  white-space: nowrap;
  color: #fff;
}

main > menu menu,
main > menu nav {
  margin: 0;
  padding: 0;
}

main > menu > nav > nav,
main > menu > menu > menu {
  display: none;
  visibility: hidden;
}

main > menu > nav:hover > nav,
main > menu > menu:hover > menu {
  max-height: 700px;
  opacity: 1;
  display: block;
  visibility: visible;
}

main > menu > a,
main > menu > menu,
main > menu > nav {
  float: left;
}

main > menu menu:hover > label + menu,
main > menu menu:hover > label + nav,
main > menu nav:hover > label + menu,
main > menu nav:hover > label + nav {
  position: absolute;
}

main > nav {
  box-sizing: border-box;
  background: #fff !important;
  color: #ffa500 !important;
  position: sticky;
}

main > nav:after {
  clear: both;
  content: '';
  display: block;
  height: 0;
  width: 0;
}

main > nav * {
  box-sizing: border-box;
}

main > nav a {
  text-decoration: none;
  display: block;
}

main > nav label {
  font-weight: bold;
}

main > nav a,
main > nav label {
  cursor: pointer;
  display: block;
  padding: 3px;
  white-space: nowrap;
  color: #ffa500 !important;
}

main > nav menu,
main > nav nav {
  margin: 0;
  padding: 0;
  position: relative;
}

main > nav > nav > nav,
main > nav > menu > menu {
  display: none;
  visibility: hidden;
}

main > nav > nav:hover > nav,
main > nav > menu:hover > menu {
  max-height: 700px;
  opacity: 1;
  display: block;
  visibility: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
}

details {
  background: #fff;
  border: #006400 1px solid;
  color: #000;
  padding: 0;
}

details summary {
  background: #006400;
  border: 0;
  color: #fff;
  font-family: "Montserrat";
  cursor: pointer;
}

details > * {
  padding: 3px 6px;
}

dl {
  padding-bottom: 6px;
  padding-top: 6px;
}

dl > dt {
  color: #fff;
  margin: 0;
  padding: 6px 0 0;
}

dl > dd {
  font-size: 130%;
  margin: 0;
  padding-bottom: 6px 0 0 0;
}

figure {
  border: 2px #ffedcc solid;
  box-sizing: border-box;
  padding: 6px 6px  !important;
}

figure img {
  box-sizing: border-box;
  height: auto;
  width: 100%;
}

figure figcaption {
  color: #000;
  font-family: "Montserrat";
  margin-top: 6px;
}

@media screen and (max-width: 600px) {
  figure {
    margin-left: 0.1% !important;
    margin-right: 0.1% !important;
    width: 99.8% !important;
  }
}

form label {
  margin-top: 6px;
}

form legend {
  font-size: 130%;
  font-weight: bold;
  margin-bottom: 0.1%;
  margin-top: 0.1%;
}

form label,
form legend {
  color: #006400;
  font-family: "Montserrat";
}

form textarea {
  width: 100%;
}

form input[type='checkbox'],
form input[type='radio'] {
  margin-right: 3px;
}

form input[type='checkbox'] + label,
form input[type='radio'] + label {
  color: #006400;
  font-family: "Montserrat";
  display: inline-block;
  margin-right: 6px;
  page-break-before: avoid;
}

form fieldset {
  border: 2px #ffedcc solid;
  margin-top: 6px;
  padding: 0 6px;
}

form fieldset label {
  display: block;
}

form fieldset button,
form fieldset input,
form fieldset select,
form fieldset textarea {
  box-sizing: border-box;
  margin-bottom: 6px;
}

form fieldset input[type='email'],
form fieldset input[type='number'],
form fieldset input[type='password'],
form fieldset input[type='search'],
form fieldset input[type='tel'],
form fieldset input[type='text'],
form fieldset input[type='url'],
form fieldset select,
form fieldset textarea {
  box-sizing: border-box;
  padding: 3px;
  width: 100%;
}

form fieldset input:not([type]) {
  box-sizing: border-box;
  padding: 3px;
  width: 100%;
}

form fieldset input[type='color'],
form fieldset input[type='range'] {
  display: inline-block;
  margin-bottom: 6px;
  vertical-align: middle;
}

form fieldset input[type='date'],
form fieldset input[type='time'],
form fieldset input[type='datetime'],
form fieldset input[type='datetime-local'],
form fieldset input[type='month'],
form fieldset input[type='week'] {
  margin-bottom: 6px;
}

form fieldset button,
form fieldset input[type='submit'],
form fieldset input[type='reset'] {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  form {
    margin-left: 0.1% !important;
    margin-right: 0.1% !important;
    width: 99.8%;
  }
}

header {
  font-size: 130%;
  padding: 0.1%;
  text-align: center;
}

header h1,
header h2,
header h3,
header h4,
header h5,
header h6 {
  margin-bottom: 6px;
  margin-top: 6px;
}

hr {
  border: 2px #ffedcc solid;
  margin-bottom: 6px;
  margin-top: 6px;
}

img {
  height: auto;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

@media screen and (max-width: 900px) {
  img {
    margin-left: 0.1% !important;
    margin-right: 0.1% !important;
  }
}

pre {
  background: #fff;
  border: 0;
  color: #000;
  overflow-x: scroll;
  margin-top: 0.1%;
  padding-top: 0.1%;
  padding-bottom: 0.1%;
  white-space: pre;
  word-break: keep-all;
}

@media screen and (max-width: 600px) {
  pre {
    margin-left: 0.1% !important;
    margin-right: 0.1% !important;
    width: 99.8% !important;
  }
}

table {
  display: table !important;
  text-align: left;
}

table td,
table th {
  padding: 3px 6px;
}

table > thead th,
table > tfoot th,
table > tbody th {
  color: #000;
  font-family: "Montserrat";
  font-weight: 800;
}

table > thead th {
  border-bottom: 2px solid #ffedcc;
}

table > tfoot th {
  border-top: 2px solid #ffedcc;
  text-align: right;
}

table > tbody td,
table > tbody th {
  border-bottom: 2px solid #ffedcc;
}

@media screen and (max-width: 600px) {
  table {
    margin-left: 0.1% !important;
    margin-right: 0.1% !important;
    width: 99.8%;
  }
}

a {
  text-decoration: none;
}

big {
  font-size: 130%;
}

input[type='file'],
button {
  background: #fff;
  color: #000;
  border-radius: 5px;
  border: 2px #ffedcc solid;
  cursor: pointer;
  display: inline-block;
  font-size: 80%;
  padding: 3px 6px;
  text-decoration: none;
}

input[type='file'] > img,
button > img {
  max-height: 88px;
  height: auto;
}

input[type='file']:hover,
input[type='file'].selected,
input[type='file'].active,
button:hover,
button.selected,
button.active {
  background: #000;
  border: 2px #ffedcc solid;
  color: #fff;
}

input[type='file']:disabled,
button:disabled {
  background: #000;
  border: 0;
  color: #fff;
  cursor: not-allowed;
}

input[type='file'] big,
button big {
  font-weight: bold;
  vertical-align: middle;
}

code {
  background: rgba(255, 255, 255, 0.3);
  border: 0;
  color: #000;
  padding: 0 3px;
  word-break: keep-all;
}

pre > code {
  background: inherit;
  border: 0;
  color: inherit;
  overflow-x: scroll;
  white-space: pre;
}

kbd {
  background: #000;
  border: 0;
  color: #fff;
  border-radius: 6px;
  padding: 3px 6px;
}

small {
  font-size: 130%;
}

main > {
  font-family: 'Montserrat';
}

main > form label span {
  color: grey;
  font-size: 80%;
}

main > menu nav {
  background: #000;
}

main > menu a:hover {
  background: #fff;
  color: #000;
}

main > menu a.active {
  background: #006400;
  font-weight: bold;
}

main > nav menu:hover > label,
main > nav nav:hover > label,
main > nav label.active,
main > nav a:hover {
  background: #ffa500;
  color: #fff !important;
}

main > nav a.active {
  background: #006400;
  color: #fff !important;
  font-weight: bold;
}

main > pre {
  background: #001800;
  border: 0;
  color: #ffa500;
  margin-bottom: 50px !important;
  margin-top: 20px !important;
  padding: 20px 20px  !important;
}

button {
  background: #006400;
  color: #fff;
  font-size: 130%;
  font-weight: bold;
}
/*# sourceMappingURL=envy.css.map */
