#{$pillar} {
  margin-bottom: 0 !important;
  margin-top: 0 !important;

  line-height: 150%;

  cite {
    background-color: lighten($hell-color, 50);
  }

  var {
    background-color: lighten($pillar-color, 60);
  }

  @include tight {
    @include pillar_containment(1%, 1%);
    padding-bottom: $god-space * 3 !important;
    padding-top: $god-space * 3 !important;
    border: 0;
    width: 98% !important;
  }
}
