body {
  @include fontize_god($god-body, 400, 'none', $god-p);
  margin: 0;
}

#{$container} {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @include fontize_god($god-head, 800);
  }
  @import 'pillar';
  @import 'blockquote/hell';
  @import 'figure/hell';
  @import 'footer/pillar';
  @import 'nav/hell';
  @import 'pre/pillar';
}
