nav {
  background: $god-blushed !important;
  color: $heaven-color !important;
  position: sticky;
  a,
  label {
    color: $heaven-color !important;
    @include pillar_padding($inline-padding, $inline-padding);
  }
  menu:hover > label,
  nav:hover > label,
  label.active,
  a:hover {
    background: $heaven-color;
    color: $god-blushed !important;
  }
  a.active {
    background: $hell-color;
    color: $god-blushed !important;
    font-weight: bold;
  }
}
